---
title: Tags
permalink: /tags/index.html
---

{% extends "../layouts/Base.njk" %}

{% set meta_og_url = site.url %}
{% set meta_og_type = "website" %}
{% set meta_og_title = site.name %}
{% set meta_og_description = site.description %}

{% block content %}
    {% for item in collections.tagList %}
        {% include "CatTagList.njk" %}
    {% endfor %}
{% endblock %}
