<div class="mdui-col-xs-12 mdui-col-md-3 mdui-m-b-3">
    <div class="mdui-card mdui-hoverable mdui-ripple" style="border-radius: 40px !important;" onclick="window.location.href=('{{ item | slugify | url }}/');">
        <div class="mdui-card-content">
            <div class="mdui-typo-subheading-opacity mdui-text-center mdui-text-uppercase">
                {{ item }}
            </div>
        </div>
    </div>
</div>
